/* TODO Add site wide styles */
/* #root{
    display: flex;
} */

.app-root {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.app-root.with-nav {
	flex-direction: row;
}

.app-root.with-nav > * {
	flex: 1;
}
