.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.sidebar-logo{
  padding-top: 25px;
  padding-bottom: 8vh;
}

#homegoatlogo{
  max-width: 100px;
}


.sidebar-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  width: 200px;
  height: 100vh;
  background-color: #f8f8f8;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar-home,
.sidebar-create,
.sidebar-notebooks,
.sidebar-logout {
  margin: 10px;
  padding: 10px;
  width: 100%;
}

.sidebar-home a,
.sidebar-create button,
.sidebar-notebooks a,
.sidebar-logout button {
  display: block;
  width: 100%;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.sidebar-home a:hover,
.sidebar-create button:hover,
.sidebar-notebooks a:hover,
.sidebar-logout button:hover {
  color: #039f03;
}
