

.ctam {
    position: relative;
    align-items: center;
    margin-top: 10px;
    padding: 12px 18px;
    margin-left: 10px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    cursor: pointer;
   }
   
   .ctam:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: #c4e7b1;
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
   }
   
   .ctam span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #2a6723;
   }
   
   .ctam svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #2a6723;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
   }
   
   .ctam:hover:before {
    width: 100%;
    background: #c4e7b1;
   }
   
   .ctam:hover svg {
    transform: translateX(0);
   }
   
   .ctam:active {
    transform: scale(0.95);
   }