.peer-review-div{
    background-color: #858585;
    height: 90%;
    width: 90%;
	overflow-y: hidden;
}

.all-components{
	height:100%
}

.scatchDiv{
	height: 250px;
}

.notes-component{
    padding-left: 20px;
    width: 80vw;
    height: 100vh;
    background-color: #858585;
	overflow-y: hidden;
}

.check-compo{
	display: flex;
	height: 100%;
}

.sidestack{
	width: 300px;
	margin-left: 25px;
	margin-right: 25px;
	height: 88%;
	background-color: #1b1b1b59;
	border-radius: 10px;
	margin-bottom: 10px;
	padding: 10px;
}

.testing{
	/* overflow-y:scroll;
	width: 770wv;
	max-height: max-content; */
	border-radius: 10px;
	height: 88%;
	overflow-x: hidden;
	background-color: #1b1b1b59;
	width:100%;
}

.taskDiv{
	/* background-color: #1b1b1b59;
	border-radius: 10px;
	margin-bottom: 10px; */
	padding: 10px;
}

.allnotes-container {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 90%;
	overflow-y: scroll;
}

.note-detail-container {
	border: 1px solid #ccc;
    color: black;
	border-radius: 20px;
	padding: 10px;
	margin: 10px;
	background-color: #419f4c;
    width: 220px;
    height: 120px;
	cursor: pointer;
}

.note-detail-container:hover {
	background-color: #59a959;
}

#note-title {
	display: block;
	font-size: 18px;
	font-weight: bolder;
	color: #000000;
	text-decoration: none;
	margin-bottom: 10px;
}

.notes-info {
	display: block;
	font-size: 12px;
	margin: 5px;
}

.note-created {
	margin-right: 10px;
}

.note-updated {
	margin-left: 10px;
}

.notes-list-container{
	background-color: rgb(214, 214, 214);
	width: 100%;
	height: 100%;
	border-radius: 10px;
	/* overflow-y: scroll; */
}

.notes-list-inner-cont{
	margin-left: 10px;
	height: 100%;
	width: 100%;
	overflow-y: hidden;
}
