.peer-review-div{
    background-color: #c6c6c6;
    height: 100vh;
    width: 100vw;
}

.welcome-header-top{
    size: 200px;
}

.notes-component{
    padding-left: 25px;
    width: 80vw;
    height: 100vh;
    background-color: #858585;
    overflow-y: scroll
}


.allnotes-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	gap: 8px;
	margin-top: 20px;
    width: 100%;
    overflow-y: scroll;
}

.note-detail-container {
	border: 1px solid #ccc;
    color: black;
	border-radius: 20px;
	padding: 10px;
	background-color: #48b054;
    width: 220px;
    height: 100px; /* Add a fixed height to prevent content from wrapping */
    overflow: hidden; /* Hide any overflowing content */
    
}

#note-title {
	display: block;
	font-size: 18px;
	font-weight: bolder;
	color: #000000;
	text-decoration: none;
	margin-bottom: 10px;
}

.notes-info {
	display: block;
	font-size: 12px;
	margin: 5px;
}

.note-created {
	margin-right: 10px;
}

.note-updated {
	margin-left: 10px;
}
